<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>646644879360-6rb6f9dt1j99sdlfr5t8vlvip7v90o1n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.646644879360-6rb6f9dt1j99sdlfr5t8vlvip7v90o1n</string>
	<key>API_KEY</key>
	<string>AIzaSyAiGqoRwOzj5pZt8yRAkivJKqnX2BLfrXo</string>
	<key>GCM_SENDER_ID</key>
	<string>646644879360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tdc.homeversity</string>
	<key>PROJECT_ID</key>
	<string>homeversity-4c37b</string>
	<key>STORAGE_BUCKET</key>
	<string>homeversity-4c37b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646644879360:ios:c014efd50da3e9825c48e5</string>
	<key>DATABASE_URL</key>
	<string>https://homeversity-4c37b.firebaseio.com</string>
</dict>
</plist>